.Friends {
    display: flex;
    justify-content: space-between;

    .Friends_Choose {
        display: inline-block;
        width: 23%;
        background-color: rgba(245, 245, 245, 0.733);
        min-height: 800px;
        text-align: right;
    }

    .Friends_Messages {
        display: inline-block;
        min-width: 77%;
        background-color: grey;
        height: 100%;

        textarea{
            display: block;
        }
    }
}